@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


html,
body,
:root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 
    "Ubuntu",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
Card.Text{
  text-align: left;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.dashboard {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; /* Mengatur tinggi penuh layar */
}

.bg-gradient {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Mengisi konten penuh */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
